* text=auto !eol
/build.properties -text
/build.xml -text
/codeception.yml -text
/sonar-project.properties -text
src-docs/apigen.neon -text
tests/_bootstrap.php -text
tests/_support/Codeception/Verify.php -text
tests/_support/Codeception/function.php -text
tests/_support/FunctionalTester.php -text
tests/_support/Helper/Functional.php -text
tests/_support/Helper/Unit.php -text
tests/_support/UnitTester.php -text
tests/unit.suite.yml -text
tests/unit/IO.feature -text
tests/unit/IO_stdInterfaceCept.php -text
tests/unit/IO_streamsCept.php -text
tests/unit/Telemetry_instrumentCept.php -text
tests/unit/Telemetry_sensorCept.php -text
tests/unit/Telemetry_sensorTest.php -text
tests/unit/_bootstrap.php -text
