* text=auto !eol
/codeception.yml -text
/sonar-project.properties -text
src/NxSys/Library/IO/DecoratingTrait.php -text
src/NxSys/Library/IO/IException.php -text
src/NxSys/Library/IO/IhasTraitDecorating.php -text
src/NxSys/Library/IO/StdInterface/DirectoryIterator.php -text
src/NxSys/Library/IO/StdInterface/FilesystemIterator.php -text
src/NxSys/Library/IO/StdInterface/GlobIterator.php -text
src/NxSys/Library/IO/StdInterface/ICompleteStreamWrapper.php -text
src/NxSys/Library/IO/StdInterface/IDirectoryIterator.php -text
src/NxSys/Library/IO/StdInterface/IFilesystemIterator.php -text
src/NxSys/Library/IO/StdInterface/IGlobIterator.php -text
src/NxSys/Library/IO/StdInterface/IRecursiveDirectoryIterator.php -text
src/NxSys/Library/IO/StdInterface/ISplFileInfo.php -text
src/NxSys/Library/IO/StdInterface/ISplFileObject.php -text
src/NxSys/Library/IO/StdInterface/ISplTempFileObject.php -text
src/NxSys/Library/IO/StdInterface/IStdException.php -text
src/NxSys/Library/IO/StdInterface/RecursiveDirectoryIterator.php -text
src/NxSys/Library/IO/StdInterface/SplFileInfo.php -text
src/NxSys/Library/IO/StdInterface/SplFileObject.php -text
src/NxSys/Library/IO/StdInterface/SplTempFileObject.php -text
src/NxSys/Library/Telemetry/IException.php -text
src/NxSys/Library/Telemetry/Instrument.php -text
src/NxSys/Library/Telemetry/InstrumentationService.php -text
src/NxSys/Library/Telemetry/Measurement.php -text
src/NxSys/Library/Telemetry/Measurement/EventMeasurement.php -text
src/NxSys/Library/Telemetry/Measurement/IMeasurement.php -text
src/NxSys/Library/Telemetry/Meter/AbstractLimitedMeter.php -text
src/NxSys/Library/Telemetry/Meter/AbstractMeter.php -text
src/NxSys/Library/Telemetry/Meter/IMeterStorageHandler.php -text
src/NxSys/Library/Telemetry/Meter/LoggingMeter.php -text
src/NxSys/Library/Telemetry/Meter/MeterDataPacket.php -text
src/NxSys/Library/Telemetry/Meter/MeterManager.php -text
src/NxSys/Library/Telemetry/Meter/RawDataMeter.php -text
src/NxSys/Library/Telemetry/Meter/VoidStorageHandler.php -text
src/NxSys/Library/Telemetry/Processor/AbstractProcessor.php -text
src/NxSys/Library/Telemetry/Processor/AuditingProcessor.php -text
src/NxSys/Library/Telemetry/Processor/CallableQueueProcessor.php -text
src/NxSys/Library/Telemetry/Processor/IProcessor.php -text
src/NxSys/Library/Telemetry/Processor/LoggingProcessor.php -text
src/NxSys/Library/Telemetry/Processor/ProcessorExceptionType.php -text
src/NxSys/Library/Telemetry/Processor/ProcessorRuntimeException.php -text
src/NxSys/Library/Telemetry/Processor/Remoting/RemotedProcessor.php -text
src/NxSys/Library/Telemetry/Processor/StubProcessor.php -text
src/NxSys/Library/Telemetry/Processor/UltimateVoidProcessor.php -text
src/NxSys/Library/Telemetry/Sensor.php -text
src/NxSys/Library/Telemetry/Sensor/BufferedSensor.php -text
src/NxSys/Library/Telemetry/Sensor/ISensorDataProcessor.php -text
src/NxSys/Library/Telemetry/Sensor/SensorDataPacket.php -text
src/NxSys/Library/Telemetry/composer.json -text
src/NxSys/Library/Telemetry/composer.lock -text
src/NxSys/Library/Telemetry/sonar-project.properties -text
tests/_bootstrap.php -text
tests/_support/Codeception/Verify.php -text
tests/_support/Codeception/function.php -text
tests/_support/FunctionalTester.php -text
tests/_support/Helper/Functional.php -text
tests/_support/Helper/Unit.php -text
tests/_support/UnitTester.php -text
tests/_support/_generated/UnitTesterActions.php -text
tests/unit.suite.yml -text
tests/unit/Telemetry_instrumentCept.php -text
tests/unit/Telemetry_sensorCept.php -text
tests/unit/Telemetry_sensorTest.php -text
tests/unit/_bootstrap.php -text
