* text=auto !eol
NxSys/Library/Telemetry/IException.php -text
NxSys/Library/Telemetry/Instrument.php -text
NxSys/Library/Telemetry/InstrumentationService.php -text
NxSys/Library/Telemetry/Measurement.php -text
NxSys/Library/Telemetry/Measurement/EventMeasurement.php -text
NxSys/Library/Telemetry/Measurement/IMeasurement.php -text
NxSys/Library/Telemetry/Meter/AbstractLimitedMeter.php -text
NxSys/Library/Telemetry/Meter/AbstractMeter.php -text
NxSys/Library/Telemetry/Meter/IMeterStorageHandler.php -text
NxSys/Library/Telemetry/Meter/LoggingMeter.php -text
NxSys/Library/Telemetry/Meter/MeterDataPacket.php -text
NxSys/Library/Telemetry/Meter/MeterManager.php -text
NxSys/Library/Telemetry/Meter/RawDataMeter.php -text
NxSys/Library/Telemetry/Meter/VoidStorageHandler.php -text
NxSys/Library/Telemetry/Processor/AbstractProcessor.php -text
NxSys/Library/Telemetry/Processor/AuditingProcessor.php -text
NxSys/Library/Telemetry/Processor/CallableQueueProcessor.php -text
NxSys/Library/Telemetry/Processor/IProcessor.php -text
NxSys/Library/Telemetry/Processor/ProcessorExceptionType.php -text
NxSys/Library/Telemetry/Processor/ProcessorRuntimeException.php -text
NxSys/Library/Telemetry/Processor/Remoting/RemotedProcessor.php -text
NxSys/Library/Telemetry/Processor/StubProcessor.php -text
NxSys/Library/Telemetry/Processor/UltimateVoidProcessor.php -text
NxSys/Library/Telemetry/Sensor.php -text
NxSys/Library/Telemetry/Sensor/BufferedSensor.php -text
NxSys/Library/Telemetry/Sensor/ISensorDataProcessor.php -text
NxSys/Library/Telemetry/Sensor/SensorDataPacket.php -text
NxSys/Library/Telemetry/composer.json -text
NxSys/Library/Telemetry/composer.lock -text
